# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3

# Environment variables
.env

# Static/media
/static/*
!/static/css/
!/static/js/
/static/css/*
!/static/css/product_detail.css
!/static/css/cart.css
/static/js/*
!/static/js/product_detail.js
/media/

# IDE
.vscode/
.idea/

# OS
.DS_Store