# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

node_modules/
.node_modules/
node_modules/

# Django
*.sqlite3
db.sqlite3

# Environment variables
.env

# Static/media
/static/*

!/static/js/
/static/js/*
/media/

# IDE
.vscode/
.idea/

# OS
.DS_Store